<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applikasjon</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!--<div id="header_wrapper">-->
    <header class ="headertop">
        <a href="index.html"><img src="logo" alt="Logo of our brand" width="120" height="100"></a>
        <!--logo og linker til start-siden-->
        <nav>
            <ul>
                <li class="active"><a href="#" title =" ">HOME</a></li>
                <li><a href="#" title =" ">ABOUT PRODUCT</a></li>
                <li><a href="#" title =" ">HELP</a></li>
                <li><a href="#" title =" ">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <!--</div>-->

    <section id="content">
        <!--alt av hoved- innholdet/teksten på siden-->

            <section id="maincontent">
                <!--hovedinnholdet, download link-->
                <header class="phone">
                    <img src="app.png" alt="En prototype av applikasjonen"/>
                </header>

                <h2>WHY IS THIS PRODUCT SOOO GOOD?</h2>
                <p>
                    Hei. Steffen er awsome!
                </p>

                <div id="download">
                    <a href="" title ="download">Download</a>
                </div>
                <!-- Last ned knapp-->
                <div id="learnmore">
                    <a href="" title ="learnmore">Learn More</a>
                </div>



            </section>

        <section id="learnmore">
            <!--mer informasjon nede på siden-->
        </section>
    </section>

    <div id="footer-wrapper">
        <footer>
            <section id="contact">
                <ul>
                    <li>Contact: Robinson Crusoe</li>
                    <li>+47 9123232</li>
                    <li>robinson-crusoe@rb.com</li>
                </ul>
                <p>We have a live 24/7 customer support for you, only at robinson crusoe</p>
            </section>
        </footer>
    </div>

    <div id="footer-copyright">
        <footer>
            <section id="copyright">
                <p>© 2015 ROBINSONCRUSOE</p>
            </section>
        </footer>
    </div>



</body>
</html>