body {
    background-color: #F2F2F2;
    font-size: 87.5%;
    /*14px er standard*/
    font-family: monospace;
    line-height: 1.5;
    /*linjeavstand*/
    text-align: left;
}

a {
    text-decoration: none;
    /*ingen strek under linker osv*/
}

a:link, a:visited {
    color: #bc5f00;
}
a:hover, a:active{
    background-color: #bc5f00;
    color:white;
}

.body{
    margin: 0 auto;
    width: 70%;
}

.mainhead{
    background-color: #ffcc00;
    margin: 2% 0;
}

.mainhead img{
    width:35%;
    height:auto;
    /*automatisk*/
    margin:5% 2%;

    /*litt avstand fra toppen*/
}
.mainhead nav {
    background-color: #e2b500;
    height: 40px;
    /*ikke noe farlig med px her..*/
    /*visible based on webkit, and moz for firefox*/
}
.mainhead nav ul{
    list-style: none;
    /*fjerner dottene fra listen*/
    margin: 0 auto;
}
.mainhead nav li{
    float: left;
    display: inline;
    /*en linje*/
}

.mainhead a:link, .mainhead a:visited{
    color: white;
    display: inline-block;
    padding: 10px 25px;
    /*plassen i mainhead*/
    /*height asign*/
    height: 20px;
}

.mainhead a:hover, .mainhead a:active{
    background-color: black;
    color: white;
}

.mainhead .active a:link, .mainhead .active a:visited{
    background-color: black;
}

.mainhead ul li a{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*visible based on webkit, and moz for firefox
    - dette styler borderen til å rund*/
}

.content{
    width: 70%;
    float:left;
    line-height: 25px;
    /*important*/
}
.topcontent{
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 5%;    /*top/bot og sidene*/
    margin-top: 3%;
}

.botcontent{
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 5%;    /*top/bot og sidene*/
    margin-top: 2%;
}

.post-info{
    font-style: italic;
    color: lightgray;
    font-size: 90%;
}

.top-sidebar{
    width: 21%;
    margin: 2% 0 2% 3%;
    /*top, right, bottom, left*/

    padding: 2% 3%;
    /*top/bot og left/right*/

    /*det blir 30% siden content er 70%*/
    float: left;
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.mid-sidebar{
    width: 21%;
    margin-left: 3%;
    margin-bottom: 2%;
    padding: 2% 3%;
    float: left;
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.bot-sidebar{
    width: 21%;
    margin-left: 3%;
    margin-bottom: 2%;
    padding: 2% 3%;
    float: left;
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainfooter{
    width: 100%;
    float: left;
    height: 40px;
    background-color: #666;
    margin: 2% 0;
    /*2% er top og bot mens 0% er left og right*/

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainfooter p{
    width: 92%;
    margin: 1% auto;
    /*center*/
    color: white;
}

@media only screen and (min-width: 150px) and (max-width: 750px){
    /*for mobil og ipad (750) er safe for tablet*/

    .body{
        width: 90%;
        font-size: 95%;
    }
    .mainhead img{
        width:100%;
    }

    .mainhead nav {
        background-color: #666;
        height: 160px;
    }
    .mainhead nav ul{
        padding-left: 0;
    }
    .mainhead nav li{
        width: 100%;
        text-align: center;
    }
    .mainhead nav a:link, .mainhead nav a.visited{
        display: block;
    }

    .content{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 1%;
        /*important*/
    }

    .post-info{
        display: none;
    }

    .top-sidebar, .mid-sidebar, .bot-sidebar{
        width: 94%;
        margin: 1% 0 1% 0;
    }

    .mainfooter{
        width: 100%;
        float: left;
        height: 40px;
        background-color: #666;
        margin: 2% 0;
    }

    .mainfooter p{
        width: 92%;
        margin: 1% auto;
        /*center*/
        color: white;

    }
    .mainhead img{
        width:70%;
        height:auto;
        /*automatisk*/
        margin:5% 2%;

        /*litt avstand fra toppen*/
    }
}

/************************About.html************************/
.aboutcontent{
    width: 100%;
    float:left;
    /*important*/
}
.about{
    width: 90%;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 5%;    /*top/bot og sidene*/
    margin-top: 2%;
}

/*@media only screen and (min-width: 150px) and (max-width: 750px) {*/
    /*/!*for mobil og ipad (750) er safe for tablet*!/*/
    /*.aboutcontent {*/
        /*width: 100%;*/
        /*margin-top: 2%;*/
        /*margin-bottom: 1%;*/
        /*/!*important*!/*/
    /*}*/
/*}*/













